*{
    margin:0;
    padding: 0;
}

body{
    display: grid;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #11135a 100%);

}


.titulo-tabla{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    color: #fff;
}

.tabla{
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

table{
    color: #fff;
    font-size: 14px;
    border-collapse: collapse;
    border: solid 1px rgba(255,255,255,0.2);
}

thead{
    background: rgba(140, 150, 243, 0.4);
}

th{
    padding: 20px 15px;
    font-weight: 700;
    text-transform: uppercase;
}

td{
    padding: 15px;
    border-bottom: solid 1px rgba(255,255,255,0.2);
}